<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.cms.base.resource.mapper.TbResourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xj.cms.base.resource.entity.TbResource">
		<id column="s_id" property="id" />
		<result column="s_parent_id" property="parentId" />
		<result column="s_name" property="name" />
		<result column="s_source_key" property="sourceKey" />
		<result column="s_type" property="type" />
		<result column="s_source_url" property="sourceUrl" />
		<result column="s_level" property="level" />
		<result column="s_icon" property="icon" />
		<result column="s_is_hide" property="isHide" />
		<result column="s_description" property="description" />
		<result column="s_create_time" property="createTime" />
		<result column="s_update_time" property="updateTime" />
	</resultMap>

	<select id="findResourcesByUserId" parameterType="int" resultMap="BaseResultMap" flushCache="true" useCache="true">
		SELECT s.* FROM tb_resource s, tb_resources_role sr, tb_role r, tb_role_user ru
		WHERE s.s_id = sr.s_id AND sr.r_id = r.r_id AND r.r_id = ru.r_id AND ru.u_id=${userId}
	</select>
	
	<select id="findResourcesMenuByUserId" parameterType="int" resultMap="BaseResultMap" flushCache="true" useCache="true">
		SELECT s.* FROM tb_resource s, tb_resources_role sr, tb_role r, tb_role_user ru
		WHERE s.s_id = sr.s_id AND sr.r_id = r.r_id AND r.r_id = ru.r_id AND s.s_type =0 AND ru.u_id=${userId}
	</select>
</mapper>
