package ${package.Controller};

import java.util.HashMap;
import java.util.Map;
import org.springframework.stereotype.Controller;
import com.xj.admin.base.index.web.BaseController;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;

import com.baomidou.mybatisplus.mapper.Condition;
import com.baomidou.mybatisplus.plugins.Page;
import com.feilong.core.Validator;
import com.xj.admin.base.common.bean.AbstractBean;
import com.xj.admin.base.common.exception.EnumSvrResult;
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import com.xj.admin.util.JsonUtil;
import com.xj.admin.util.dtgrid.model.Pager;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * ${table.comment}  前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Controller
@RequestMapping("/${package.ModuleName}/")

public class ${table.controllerName} extends BaseController {

	@Autowired
	private I${entity}Service ${package.ModuleName}Service;
	
	@GetMapping("listUI")
    public String listUI() {
		return "${package.ModuleName}/list";
    }
	
	@RequestMapping("form")
    public String form(Map<String,Object> map) {
		return "${package.ModuleName}/form";
    }
    
    @PostMapping("list")
	@ResponseBody
    public Object list(String gridPager) {
		Pager pager = JsonUtil.getObjectFromJson(gridPager, Pager.class);
		Map<String, Object> parameters = null;
		if(Validator.isNullOrEmpty(pager.getParameters())){
			parameters = new HashMap<>();
		}else{
			parameters = pager.getParameters();
		}
		Page<${entity}> list = ${package.ModuleName}Service.selectPage(new Page<${entity}>(pager.getNowPage(), pager.getPageSize()), Condition.instance().allEq(parameters));
		parameters.clear();
		parameters.put("isSuccess", Boolean.TRUE);
		parameters.put("nowPage", pager.getNowPage());
		parameters.put("pageSize",pager.getPageSize());
		parameters.put("pageCount", list.getPages());
		parameters.put("recordCount", list.getTotal());
		parameters.put("startRecord", list.getOffsetCurrent());
		parameters.put("exhibitDatas",list.getRecords());
		return parameters;
    }
	
	@RequestMapping(value = "save", method = RequestMethod.POST)
	@ResponseBody
	public AbstractBean add(${entity} $entity.toLowerCase()){
		AbstractBean bean = new AbstractBean();
		if(!${package.ModuleName}Service.insertOrUpdate($entity.toLowerCase())){
			bean.setStatus(EnumSvrResult.ERROR.getVal());
			bean.setMessage(EnumSvrResult.ERROR.getName());
		}
		return bean;
	}
	
	@RequestMapping(value="{id}/delete",method=RequestMethod.DELETE)
	@ResponseBody
    public AbstractBean delete(@PathVariable(required=true) Integer id) {	
		AbstractBean bean = new AbstractBean();
		if(!${package.ModuleName}Service.deleteById(id)){
			bean.setStatus(EnumSvrResult.ERROR.getVal());
			bean.setMessage(EnumSvrResult.ERROR.getName());
		}
		return bean;
    }	
	
	@RequestMapping(value="{id}/select",method=RequestMethod.GET)
    public String select(Map<String,Object> map,@PathVariable(required=true) Integer id) {	
		${entity} $entity.toLowerCase() = ${package.ModuleName}Service.selectById(id);
		map.put("record", $entity.toLowerCase());
		return "${package.ModuleName}/edit";
    }	
}
