
<div class="row-content am-cf">
	<div class="row">
		<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
			<div class="widget am-cf">
				<div class="widget-head am-cf">
					<div class="widget-title  am-cf">角色列表</div>
				</div>
				<div class="widget-body  am-fr">

					<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
						<div class="am-form-group">
							<div class="am-btn-toolbar">
								<div class="am-btn-group am-btn-group-xs">
									<button type="button" class="am-btn am-btn-default am-btn-success" onclick="loadPage('role/form')" shiro:hasPermission="role:add">
										<span class="am-icon-plus" ></span> 新增
									</button>
									<button type="button"
										class="am-btn am-btn-default am-btn-warning" onclick="permission()" shiro:hasPermission="role:permission">
										<span class="am-icon-archive"></span> 分配权限
									</button>
									<!-- <button type="button"
										class="am-btn am-btn-default am-btn-secondary">
										<span class="am-icon-save"></span> 保存
									</button>
									
									<button type="button"
										class="am-btn am-btn-default am-btn-danger">
										<span class="am-icon-trash-o"></span> 删除
									</button> -->
								</div>
							</div>
						</div>
					</div>
					<div class="am-u-sm-12">
						<div class="widget-main padding-6 no-padding-left no-padding-right">
							<div id="dtGridContainer" class="dlshouwen-grid-container"></div>
							<div id="dtGridToolBarContainer" class="dlshouwen-grid-toolbar-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/customer/role/list.js}"/>

